.blur-1 {
  position: relative;
}
.blur-1 > img {
  position: fixed;
  bottom: 0;
  z-index: 0;
}
.blur-2 {
  position: relative;
}
.blur-2 > img {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
}
:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}
* {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
}
body {
  background-color: #000000;
}
.contentDesktop,
nav,
nav > ul {
  display: flex;
  align-items: center;
}
#desktop {
  display: flex;
}
.contentDesktop {
  margin-top: 50px;
  margin-bottom: 40px;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}
ul {
  justify-content: space-between;
  width: 431px;
  
}
ul > li > a {
  color: var(--text-color);
  font-weight: 400;
}
button {
  width: 172px;
  height: 37px;
  border-radius: 6px;
  border: 1px solid var(--button);
  background-color: #000;
  color: var(--text-color);
  font-size: 11px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

h1 {
  font-size: 80px;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 10px;
}
h2 {
  font-size: 80px;
  font-weight: bold;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main > div {
  display: flex;
  flex-direction: column;
  align-items: center;

}
main > div > img {
  width: 798px;
  position: absolute;
  bottom: 0;
}
main > div > div{
}